<div class="article-details">
    ...
    <footer class="article-time">
    
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="56" height="56" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
            <circle cx="18" cy="18" r="4" />
            <path d="M15 3v4" />
            <path d="M7 3v4" />
            <path d="M3 11h16" />
            <path d="M18 16.496v1.504l1 1" />
        </svg>
        <time class="article-time--published" datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
            {{ .Date.Format "2006-01-02" }}
        </time>
    </div>
    
    <!-- 添加浏览量统计 -->
    <div>
        <!-- 主题的图标函数，如果你的主题不支持，可以去掉下面这行 -->
        {{ partial "helper/icon" "eye" }}
        <time class="article-time--reading">
            <!-- Vercount 将在这个标签内填入数字 -->
            <span id="vercount_value_page_pv">loading...</span> 次阅读
        </time>
    </div>
    
</footer>
    ...
</div>

